@font-face {
  font-family: 'inter';
  src: url('/fonts/inter/Inter-Medium.eot');
  src: url('/fonts/inter/Inter-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/inter/Inter-Medium.woff2') format('woff2'),
      url('/fonts/inter/Inter-Medium.woff') format('woff'),
      url('/fonts/inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter';
  src: url('/fonts/inter/Inter-SemiBold.eot');
  src: url('/fonts/inter/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/inter/Inter-SemiBold.woff2') format('woff2'),
      url('/fonts/inter/Inter-SemiBold.woff') format('woff'),
      url('/fonts/inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter';
  src: url('/fonts/inter/Inter-Bold.eot');
  src: url('/fonts/inter/Inter-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/inter/Inter-Bold.woff2') format('woff2'),
      url('/fonts/inter/Inter-Bold.woff') format('woff'),
      url('/fonts/inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

