@use "../branding/" as *;

#styleguide-layout > section {
    > header {
        background: $dcode-grey;
        padding: 1rem 2rem;
        h2 {
            font-size: 3rem;
            line-height: 1;
            margin: 0;
        }
        ul {
            list-style: none;
            display: inline-flex;
            padding: 0;
            margin: 0;
            li {
                font-size: 14px;
            }
        }
    }

    > .content {
        padding: 3rem 2rem;

        hr {
            margin: 3rem 0;
        }

        .demo {
            border: 5px solid $dcode-grey;
            padding: 1.5rem;
            pre {
                margin: 0;
                code {
                    font-family: monospace;
                    font-size: 1rem;
                }
            }
        }
    }
}