@use '../../../base' as *;
@use "../branding" as *;

#styleguide-layout  {
    .flex-cols {
        @include flex-cols(lg);
        > div {
            background-color: $dcode-turquoise;
            border: 1px solid #fff;
            color: #fff;
            min-height: 100px;
            margin-bottom: 1rem;
        }
    }
}