@use '../../../base' as *;
@use "../branding" as *;

#styleguide-layout  {
    .six-by-three-grid {
        @include grids(6, 1rem, 1rem, 3);
        > div {
            background-color: $dcode-turquoise;
            min-height: 100px;
            width: 100%;
        }
    }    
    .cols-of-200 {
       @include cols-of(200px, 1rem, 1fr, 1000px);
        > div {
            background-color: $dcode-turquoise;
            min-height: 100px;
            width: 100%;
        }
    }
}

