@use 'sass:math';
@use '../config/variables.scss' as *;
/**
 *  The utilities in this file are completely project-agnostic
*/

$inputs: '[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='phone'], [type='color'], select, textarea';
$text-els: 'h1, h2, h3, h4, h5, p, li, td, th, dt, dd';
$p-els: 'p, li, small';

@mixin margin-x($l: auto) {
    margin-left: $l;
    margin-right: $l;
}
@mixin margin-y($l, $l2: null) {
    margin-top: $l;
    @if ($l2 == null) {
        margin-bottom: $l;
    } @else {
        margin-bottom: $l2;
    }
}
@mixin pad-x($l) {
    padding-left: $l;
    padding-right: $l;
}
@mixin pad-y($l, $l2: null) {
    padding-top: $l;
    @if ($l2 == null) {
        padding-bottom: $l;
    } @else {
        padding-bottom: $l2;
    }
}

@mixin clamp($sml, $full, $propName: "font-size") {
    #{$propName}: #{(math.div($full, 11))}vw;
    #{$propName}: clamp(#{$sml}px, #{(math.div($full, 11))}vw, #{$full}px);
}

@mixin inset($in: 0) {
    position: absolute;
    top: $in;
    left: $in;
    right: $in;
    bottom: $in;
}

@mixin truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin ratio($ratio: 16/9){
	width: 100%;
    aspect-ratio: $ratio;
    @supports not (aspect-ratio: auto) {
        display: block;
		padding-top: #{((1 / $ratio) * 100%)};
		height: 0;
		position: relative;
		overflow: hidden;
        * {
            position: absolute;
            top: 0;
        }
	}
}

@function shade($color, $percentage) {
    @return mix(#000, $color, $percentage);
}

@function tint($color, $percentage) {
    @return mix(#fff, $color, $percentage);
}

@mixin center-frame {
    @include margin-x;
    max-width: $body-max-width;
    width: 97%;
}

