
$preset-palette: (
    primary: #1779ba,
    secondary: #767676,
    success: #3adb76,
    warning: #ffae00,
    danger: #cc4b37,
    whitest: #ffffff,
    light-gray: #e6e6e6,
    medium-gray: #cacaca,
    med-dark-gray: #aaa,
    dark-gray: #8a8a8a,
    blackest: #0a0a0a,
    off-white: #f8f8f8,
);

@mixin reset-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
}

@mixin reset-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin box-shadow($color: #000) {
    box-shadow: 0px 0px 6px -4px $color;
}

@mixin dropdown($dd-items-padding: 0.25rem .5rem, $bgColor: #fff, $hoverColor: #f5f5f5) {
    @include reset-ul;
    background-color: $bgColor;
    border-radius: 4px;
    @include box-shadow;
    height: 0px;
    min-width: 80px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: border-color 1s, opacity 1s;
    z-index: 1;

    &.right {
        right: 0;
    }

    &.left {
        left: 0;
    }

    li {
        font-size: 14px;
        line-height: 1;
        margin: 0;        
        a, button {     
            background-color: transparent;     
            display: inline-block;
            padding: $dd-items-padding;
            text-decoration: none;    
            transition: color .3s, background-color .3s;
            width: 100%;
            svg path {
                fill: currentColor;
                transition: fill .3s;
            }
            &:hover {
                background-color: $hoverColor;
            }
        }
    }
}

@mixin hrs($borderColor: #808080){
    border: 0;
    border-bottom: 1px solid $borderColor;
}

@mixin text-alignments {
    &.text-right {
        text-align: right;
    }
    &.text-center {
        text-align: center;
    }
    &.text-left {
        text-align: left;
    }
}

@mixin ellipsis($color: #acacac) {
    menu > ul > li {
        padding: 0;
        > button {
            color: $color;
            display: inline-block;
            line-height: 0;
            font-size: 1.5rem;
            vertical-align: text-top;
        }
    }
}

//need to check how this is applied in gradcon
@mixin bg-text-colors($palette: $preset-palette) {
    @each $color, $val in $palette {
        .bg-#{"" + $color} {
            background-color: $val;
        }
        .text-#{"" +$color} {
            color: $val;
        }
    }
}

@mixin states($color: grey, $hoverColor: darkgray) {
    &, &:link, &:visited {
        color: $color;
        transition: color 0.2s linear;
    }
    &:hover, &:active {
        color: $hoverColor;
    }
}