@use '../base' as *;


menu > ul,
nav > ul {
    display: flex;
    @include reset-ul;
    //generic menu
    > li {
        padding: .5rem;
        position: relative;
        margin: 0;
        > a,
        > button {
            // color: map-get($palette, "teal");
            @include heading-font-bold;
            line-height: 1;
            text-decoration: none; 
            transition: color 1s;  
            font-size: 14px; 
            &:hover {
                text-decoration: underline;
                color: map-get($palette, "secondary");
            }
            &.active {
                color: map-get($palette, "secondary");
            }
        }
        button {
            @include reset-btn;
        }
        &:hover {
            ul {
                opacity: 1;
                padding: .25rem 0;
                height: auto;
            }
        }
        > ul {
            @include dropdown;
        }
    }

    &.vertical {
        flex-direction: column;
        > li {
            > ul {
                //overwriting the dropdown mixin
                position: relative;
                border-radius: 0;
                box-shadow: none;
            }
            &:hover {
                > ul {
                    margin-top: .5rem;
                }
            }
        }
    }
}

menu { // used for ellipsis menus
    @include reset-ul; 
    height: auto;
}
