@use '../base' as *;

nav.tabs {
    ul {
        @include hrs;
        li {
            border-bottom: 1px solid transparent;
            transition: border-color 1s;
            &.active {
                border-color: map-get($palette, "success");
                button {
                    color: map-get($palette, "dark-gray");
                }
            }
            button {
                color: map-get($palette, "medium-gray");
                transition: color 1s, border-color 1s;
            }
        }
    }
    section{
        padding: 1rem;
        > div {
            display: none;
            &.active {
                display: block;
            }
        }
    }
}
