@use '../' as *;

@mixin button-base($radius: 4px, $f-size: 14px, $padd: 1rem) {
    border: none;
    border-radius: $radius;
    cursor: pointer;
    display: inline-block;
    font-size: $f-size;
    line-height: 1;
    outline: none;
    padding: $padd;
    text-decoration: none;
    &:disabled { //ToDo: need colour changes if button is disabled
        cursor: not-allowed;
    }
}
@mixin button-common-states($color: #8a8a8a, $hover-color: $color, $bg-color: #e6e6e6, $bg-change: "shade", $intesity: 15%){
    &, &:link, &:visited {
        color: $color;
        background-color: $bg-color;
        transition: color 0.2s linear, background-color 0.2s linear;
        svg {
            fill: $color;
            transition: fill 0.2s linear,
        }
    }
    &:hover, &:active {
        color: $hover-color;
        svg {
            fill: $hover-color;
        }
        @if $bg-change == "shade" {
            background-color: shade($bg-color, $intesity);
        }
        @if $bg-change == "tint" {
            background-color: tint($bg-color, $intesity);
        }
    }
}
@mixin button-sml($f-size: 14px, $l-height: 1, $padding: .5rem) {
    font-size: $f-size;
    line-height: $l-height;
    padding: $padding;
}
@mixin button-hollow-states($color: #767676, $hover-color: #8a8a8a, $bg-change: "tint"){
    &, &:link, &:visited {
        color: $color;
        transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;
        border-color: $color;
        svg {
           fill: $color;
           transition: fill 0.2s linear,
        }
    }
    &:hover, &:active {
        color: $hover-color;
        border-color: $hover-color;
        svg {
            fill: $hover-color;
         }
        @if $bg-change == "tint" {
            background-color: tint($color, 85%);
        }
        @if $bg-change == "shade" {
            background-color: shade($color, 15%);
        }
    }
}
@mixin button-hollow($border-width: 1px) {
    background-color: transparent;
    border-width: $border-width;
    border-style: solid;
}
@mixin btn-icon-base($iconSize: 14px){
    position: relative;
    padding: .6rem .75rem;
    i, span, svg {
        font-size: $iconSize;
        height: $iconSize;
        width: $iconSize;
    }
}
@mixin btn-with-icon($iconSize: 14px) {
    &.icon-right {
        @include btn-icon-base($iconSize);
        padding-right: calc(2 * #{$iconSize});
        i, span, svg {
            position: absolute;
            right: calc(#{$iconSize} / 2);
            top: calc(50% - (#{$iconSize} / 2));
        }
    }    
    &.icon-left {
        @include btn-icon-base($iconSize);
        padding-left: calc(2 * #{$iconSize});
        
        i, span, svg {
            position: absolute;
            left: calc(#{$iconSize} / 2);
            top: calc(50% - (#{$iconSize} / 2));
        }
    } 
}