@use '../' as *;

@mixin check-radio-btns(
    $radius: 4px, 
    $palette: $preset-palette, 
    $padding: 1rem,
    $bg-color: map-get($preset-palette, "medium-gray"), 
    $bg-color-checked: map-get($palette, "blackest"),
    $color-checked: map-get($palette, "whitest"),
) {
    display: inline;    
    position: relative;
    margin-bottom: 1rem;
    @each $color, $val in $palette {
        &.btn-#{"" + $color} {
            input {
                &:hover {
                    cursor: pointer;
                    + span {
                        background-color: shade($val, 15%);
                    }
                }
                + span {
                    background-color: $val;
                    border-radius: $radius;
                }
            }
        }
    }
    background-color: transparent;
    input{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &:hover {
            cursor: pointer;
            + span {
                background-color: rgba($bg-color-checked, .85);
            }
        }
        + span {
            background-color: $bg-color;
            border-radius: $radius;
            color: $bg-color-checked; 
            display: inline-block;
            line-height: 1;
            padding: $padding;

            position: relative;
            pointer-events: none;
            text-align: center;
            transition: color 1s, background-color 1s;
        }
        &:checked + span {
            background-color: $bg-color-checked;
            color: $color-checked;  
        }
        &:checked:hover + span {
            background-color: rgba($bg-color-checked, .85);
            color: shade($color-checked, .85);
        }
    }
}
