@use '../'as *;

@mixin input-common($input-border: 1px solid, $radius: 4px, $padding: 1rem, $placeholder-color: grey, $bg: transparent) {
    background-color: $bg;
    border: $input-border;
    border-radius: $radius;
    padding: .75rem;
    transition: border-color 1s;
    width: 100%;
    &[disabled],
    &::placeholder {
        color: $placeholder-color;
    }
    &[disabled] {
        cursor: not-allowed;
    }
    &:focus {
        outline: none;
    }
}
@mixin forms($form-error: map-get($preset-palette, 'danger')) {
    > div,
    > fieldset > div {
        margin-bottom: 1rem;
        position: relative;
        input,
        label,
        small {
            display: block;
        }
        label,
        small {
            transition: color 1s;
        }
        small {
            margin-top: .25rem;
        }
        &.form-error {
            label,
            small {
                color: $form-error;
            }
            input {
                border-color: $form-error;
            }
        }
        &.search-input {
            position: relative;
            label {
                display: none;
            }
            button {
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                @include reset-btn;
                svg {
                    width: 10px;
                }
            }
        }
    }

    // ToDo: provide support for select-filters
    .select-filter-input {
        display: inline-flex;
        flex-direction: column;
        position: relative;
        > div {
            @include align-center ;
            background-color: map-get($preset-palette, "light-gray");
            border-radius: 4px;
            padding: .75rem;
            label {
                line-height: 1;
                margin-right: 5px; 
            }
            > span {
                font-weight: 600;
                line-height: 1;
                margin-right: 3rem;
            }
            button {
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                @include reset-btn;
                i,
                span,
                svg {
                    transition: transform .3s;
                    width: 10px;
                }
                &.open {
                    i,
                    span,
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        ul {
            width: 100%;
            top: 46px;
            left: 0;
            @include dropdown;
            li button {
                @include reset-btn;
            }
            &.open {
                height: auto;
                opacity: 1;
                padding: .25rem 0;
            }
        }
    } 
    > footer {
        @include space-between-center;
    }
}
