@use '../' as *;

@mixin menus($active-color: map-get($preset-palette, "secondary"), $f-size: 14px, $f-weight: bold, $dd-text-align: center, $dd-items-padding: 0.25rem .5rem, $dd-width: 80px){
    display: flex;
    @include reset-ul;
    //generic menu
    > li {
        padding: .5rem;
        position: relative;
        margin: 0;
        > a,
        > button {
            line-height: 1;
            text-decoration: none; 
            transition: color .3s;  
            font-size: $f-size; 
            font-weight: $f-weight;
            &:hover {
                text-decoration: underline;
                color: $active-color;
            }
            &.active {
                color: $active-color;
            }
        }
        button {
            @include reset-btn;
        }
        &:hover {
            ul {
                opacity: 1;
                padding: .25rem 0;
                height: auto;
            }
        }
        > ul {
            @include dropdown($dd-items-padding);
            li {
                text-align: $dd-text-align;
            }
        }
    }
    
    &.vertical {
        flex-direction: column;
        > li {
            > ul {
                //overwriting the dropdown mixin
                position: relative;
                border-radius: 0;
                box-shadow: none;
            }
            &:hover {
                > ul {
                    margin-top: .5rem;
                }
            }
        }
    } 
}