@use '../../preset/' as *;

@mixin modal($windowBg: rgba(0,0,0,.4), $modalWidth: 42rem, $modalRadius: 8px){
    @include align-justify-center-column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: $windowBg;
 
    .modal {
        @include space-between;
        background: #fff;
        border-radius: $modalRadius;
        flex-direction: column;
        max-width: $modalWidth;
        overflow: visible;
        padding: 1.5rem;
        position: relative;
        width: 100%;
        .close {
            @include reset-btn;
            align-items: center;
            background-color: #fff;
            border-radius: 50%;
            color: #000;
            position: absolute;
            top: 0;
            left: -35px;
            height: 25px;
            width: 25px;
            display: flex;
            border: none;
            z-index: 11;
            margin: 0;
            flex-direction: column;
            padding: 0;
            justify-content: center;
            transition: background-color .3s, color .3s;
            // &:hover {
            //     background-color: map-get($palette, 'tertiary');
            //     color: map-get($palette, 'light-gray');
            // }
        }
        .content {
            margin-bottom: 1rem;
        }
        footer {
            @include space-between;
        }
    }
}