@use '../../preset/' as *;
 
@mixin sidePanel($panelWidth: 600px){
    position: fixed;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    transition: background-color 0.3s linear;
    aside.panel {
        bottom: 0;
        display: flex;
        overflow: hidden;
        padding: 0;
        position: fixed;
        pointer-events: all;
        transition: width 0.4s ease;
        top: 0;
        right: 0;
        width: 0;
        > div {
            width: $panelWidth;
            flex: 0 0 auto;
            height: 100%;
            background-color: #fff;
            padding: 106px 40px 30px;
            display: inline-flex;
            flex-direction: column;
            > header {
                @include space-between-center;
                margin-bottom: 22px;
                border-bottom:  1px solid grey;
                padding-bottom: 16px;
                h2 {
                    margin-bottom: 0;
                }
            }
            .-scroll-y {
                overflow-y: scroll;
                margin-right: -10px;
                padding-right: 10px;
            }
            section {
                margin-bottom: 40px;
            }
            h4 {
                margin-bottom: 20px;
            }
        }
    }
    &.-open {
        pointer-events: all;
        aside.panel {
            width: $panelWidth;
        }
    }
}
