@use '../' as *;

@mixin tables(
        $bg-color: map-get($preset-palette, 'off-white'), 
        $border-color: map-get($preset-palette, 'light-gray'), 
        $palette: $preset-palette, 
        $table-header-color: map-get($preset-palette, 'secondary'), 
        $collapse-breakpoint: 'lg'
    ) {
    border-collapse: separate;
    border-spacing: 0 .5rem;
    width: 100%;
    th,
    td {
        font-size: 14px;
        padding: .5rem;
        @include text-alignments;
    }
    thead {
        background-color: transparent;
        border: none;
        th {
            color: $table-header-color;
            font-weight: 500;
            text-align: left;
        }
    }
    @include media-breakpoint-down($collapse-breakpoint) {
        thead,
        colgroup {
            display: none;
        }
    }
    tbody {
        background-color: transparent;
        tr {
            background-color: $bg-color;
            position: relative;
            &[data-href] {
                cursor: pointer;
                transition: background-color .3s;
                &:hover {
                    background-color: rgba($border-color, .9);
                }
            }
            @each $color,
            $val in $palette {
                &.bg-#{"" + $color} {
                    background-color: $val;
                    td {
                        &:first-child,
                        &:last-child{
                            &::before,
                            &::after {
                                background-color: $val;
                            }
                        }
                    }
                }

                &.text-#{"" + $color} {
                    color: $val;
                }
            }

            td {
                font-weight: 400;
                margin: 0;

                &.actions {
                    width: 30px;
                    @include ellipsis;
                    > menu {
                        margin: 0;
                    }
                }
            }

            @include media-breakpoint-down($collapse-breakpoint) {
                border-bottom: 1px solid $border-color;
                border-top: 1px solid $border-color;
                border-left: 1px solid $border-color;
                border-right: 1px solid $border-color;
                display: block;
                margin-bottom: 1rem;
                padding-bottom: .5rem;
                padding-top: 1rem;

                td {
                    border-top: none;
                    border-bottom: none;
                    border-left: none;
                    border-right: none;
                    display: flex;
                    position: inherit;

                    &:first-child {
                        padding-left: .5rem;
                    }

                    &[data-header]:before {
                        content: attr(data-header);
                        display: block;
                        color: $table-header-color;
                        font-weight: bold;
                        margin-right: 1rem;
                        text-align: left;
                        width: 50%;
                    }

                    &[data-header]>* ::not('.tag') {
                        display: block;
                        margin-top: 0;
                        padding-left: .5em;
                        width: 50%;
                    }

                    &[data-header] #{$inputs} {
                        display: block;
                        margin-top: 0;
                        padding-left: .5em;
                        width: 50%;
                    }

                    &.actions {
                        border: none;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: auto;
                        z-index: 2;
                    }
                }
            }
        }
    }

    &.striped {
        tbody {
            tr {
                &:nth-child(odd) {
                    td {
                        background-color: $border-color;
                        &:first-child,
                        &:last-child{
                            &::before,
                            &::after {
                                background-color: $border-color;
                            }
                        }
                    }
                    @include media-breakpoint-up($collapse-breakpoint) {
                        background-color: $border-color;
                    }
                }
            }
        }
    }
}
 