@use '../' as *;

@mixin tabs(
        $tab-color: map-get($preset-palette, "medium-gray"),
        $active-tab-border-color: map-get($preset-palette, "success"),
        $active-tab-color: map-get($palette, "dark-gray"),
        $tab-padding: 0 1.25rem .75rem,
        $tab-panel-padding: 1rem,
    ) {
    > ul {
        @include hrs;
        overflow-x: auto;
        &::-webkit-scrollbar {
            height: 8px;
        }
        &:-webkit-scrollbar-track {
            box-shadow: none;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $active-tab-color;
            outline: 1px solid rgba($tab-color, .25);
        }
        li {
            border-bottom: 1px solid transparent;
            transition: border-color 1s;
            padding: $tab-padding;
            &.active {
                border-color: $active-tab-border-color;
                a, button {
                    color: $active-tab-color;
                }
            }
            a, button {
                color: $tab-color;
                transition: color 1s, border-color 1s;
            }
        }
    }
    > section {
        padding: $tab-panel-padding;
        > div {
            display: none;
            &.active {
                display: block;
            }
        }
    }
}