.styleguide-reference {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
    grid-template-areas: "aside content";
    > aside {
        menu {
            position: fixed;
        }
    }
    > section {
        > div,
        hr {
            margin-bottom: 50px;
        }
    }
}
