@use "./branding/" as *;
@use "../../preset/" as *;
@use "../../config/palette.scss" as *;
 
#styleguide-layout {
    display: grid;
    grid-template-columns: 255px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "aside content";
    min-height: 100vh;

    @include bg-text-colors($palette);

    > aside {
        background-color: #fff;
        > header {
            text-align: center;
            padding: 2rem;
            img {
                margin-bottom: 1rem;
            }
            h1 {
                font-size: 24px;
                letter-spacing: 0;
                margin: 0;
            }
        }
        //branding overwrites for vertical menu
        > nav {
            text-align: center;
            > ul > li {
                a, button {
                    color: $dcode-turquoise;
                }
    
                > ul {
                    background-color: $dcode-grey;
                    a {
                        &:hover {
                            color: #fff;
                            background-color: $dcode-turquoise;
                        }
                    }
                }
            } 
        }
    }

    > section {

        > header {
            background: $dcode-grey;
            padding: 1rem 2rem;
            h2 {
                font-size: 3rem;
                line-height: 1;
                margin: 0;
            }
            ul {
                list-style: none;
                display: inline-flex;
                padding: 0;
                margin: 0;
                li {
                    font-size: 14px;
                }
            }
        }
        
        > .content {
            padding: 3rem 2rem;
            
            hr:not(.actions hr) {
                margin: 3rem 0;
            }
            
            .demo {
                border: 5px solid $dcode-grey;
                padding: 1.5rem;
                pre {
                    margin: 0;
                    code {
                        font-family: monospace;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
