@use "./palette.scss" as *;

@font-face {
    font-family: "Noe Display";
    src:url("./fonts/noe-display-regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Maison Neue Light';
    src: url('./fonts/MaisonNeue-Light.woff2') format('woff2'),
    url('./fonts/MaisonNeue-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#styleguide-layout {
    h1,h2,h3,h4,h5,h6 {
        &:not(.demo h1, .demo h2, .demo h3, .demo h4, .demo h5, .demo h6) {
            color: $dcode-navy;            
            font-family: "Noe Display", Georgia, Cambria, "Times New Roman", Times, serif;
            font-weight: 500;
        }
    }
    p, li, a, button {
        &:not(.demo p, .demo li, .demo a, .demo button) {
            color: $dcode-navy;            
            font-family: "Maison Neue Light", Roboto, "Helvetica Neue", Arial, sans-serif;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}
