@use '../mixins/check-radio-btns.scss' as *;
@use '../../config/palette.scss' as *;
@use '../../config/variables.scss' as *;

label.checkbox-btn,
label.radio-btn {
    //needs an if else
    @include check-radio-btns(
        $button-border-radius, 
        $palette, 
        $button-padding,
        $check-btn-bg-unchecked, 
        $check-btn-bg-checked,
        $check-btn-color-checked,
    );
    @if (mixin-exists('check-radio-settings')) {
        @include check-radio-settings;
    }
}