
@use '../settings/palette.scss' as *;

@mixin reset-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
}

@mixin reset-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin box-shadow($color: #000) {
    box-shadow: 0px 0px 6px -4px $color;
}

@mixin dropdown($bgColor: #fff, $hoverColor: grey) {
    @include reset-ul;
    // background-color: map-get($palette, "off-white");
    background-color: $bgColor;
    border-radius: 4px;
    @include box-shadow;
    height: 0px;
    min-width: 80px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: border-color 1s, opacity 1s;
    z-index: 1;

    &.right {
        right: 0;
    }

    &.left {
        left: 0;
    }

    li {
        font-size: 14px;
        line-height: 1;
        margin: 0;        
        a, button {        
            display: inline-block;
            padding: 0.25rem .5rem;
            text-decoration: none;    
            transition: color 1s, background-color 1s;
            width: 100%;
            &:hover {
                // color: map-get($palette, "off-white");
                color: $bgColor;
                // background-color: map-get($palette, "dark-gray");
                background-color: $hoverColor;
            }
        }
    }
}

// @mixin hrs($borderColor: $text-0){
@mixin hrs($borderColor: #808080){
    border: 0;
    border-bottom: 1px solid $borderColor;
}

@mixin text-alignments {
    &.text-right {
        text-align: right;
    }
    &.text-center {
        text-align: center;
    }
    &.text-left {
        text-align: left;
    }
}

// @mixin ellipsis($color: $text-faint) {
@mixin ellipsis($color: #acacac) {
    menu > ul > li {
        padding: 0;
        > button {
            color: $color;
            display: inline-block;
            line-height: 0;
            font-size: 1.5rem;
            vertical-align: text-top;
        }
    }
}

@each $color, $val in $palette {
    .bg-#{"" + $color} {
        background-color: $val;
    }
    .text-#{"" +$color} {
       color: $val;
    }
}

@mixin states($color: grey, $hoverColor: lightgray) {
    &, &:link, &:visited {
        color: $color;
        transition: color 0.2s linear;
    }
    &:hover, &:active {
        color: $hoverColor;
    }
}