@use '../base/agnostic.scss' as *;
@use '../base/palette.scss' as *;
@use '../base/variables.scss' as *;


@mixin body-font-regular {
    font-family: 'graphik', sans-serif;
    font-weight: 400;
}
@mixin body-font-bold {
    font-family: 'graphik', sans-serif;
    font-weight: 500;
}

@mixin heading-font-regular {
    @include body-font-regular;
}
@mixin heading-font-bold {
    @include body-font-bold;
}

@mixin font-color {
    color: $text-0;
}

@mixin h1($with-margins: false) {
    @include heading-font-bold;
    @include font-color;
    @include clamp(38, 59);
    @include clamp(5, 9, 'letter-spacing');
    line-height: 1.2;
    @if ($with-margins) {
        margin: -5px 0 16px;
    }
}
@mixin h2($with-margins: false) {
    @include heading-font-bold;
    @include font-color;
    @include clamp(33, 38);
    line-height: 1.5;
    @if ($with-margins) {
        margin: -4px 0 12px;
    }
}
@mixin h3($with-margins: false) {
    @include heading-font-regular;
    @include font-color;
    @include clamp(28, 33);
    letter-spacing: 0.2em;
    line-height: 1.3;
    @if ($with-margins) {
        margin: -3px 0 8px;
    }
}
@mixin h4($with-margins: false) {
    @include heading-font-regular;
    @include font-color;
    @include clamp(22, 28);
    @if ($with-margins) {
        margin: -1px 0 4px;
    }
}
@mixin h5($with-margins: false) {
    @include heading-font-regular;
    @include font-color;
    @include clamp(18, 22);
    @if ($with-margins) {
        margin: -1px 0 4px;
    }
}
@mixin h6($with-margins: false) {
    @include body-font-bold;
    @include font-color;
    @include clamp(16, 18);
    line-height: 1.5;
    @if ($with-margins) {
        margin: 0 0 5px;
    }
}
@mixin p($with-margins: false) {
    @include body-font-regular;
    @include font-color;
    @include clamp(14, 16);
    line-height: 1.5;
    @if ($with-margins) {
        margin: 0 0 5px;
    }
    strong {
        font-weight: 500;
    }
}
@mixin p-sml($with-margins: false) {
    @include body-font-regular;
    @include font-color;
    @include clamp(12, 14);
    line-height: 1.5;
    @if ($with-margins) {
        margin: 0 0 5px;
    }
    strong {
        font-weight: 500;
    }
}
@mixin p-tiny($with-margins: false) {
    @include body-font-regular;
    @include font-color;
    font-size: 12px;
    line-height: 1.5;
    @if ($with-margins) {
        margin: 0 0 5px;
    }
    strong {
        font-weight: 500;
    }
}
@mixin states {
    &, &:link, &:visited {
        color: $text-2;
        transition: color 0.2s linear;
    }
    &:hover, &:active {
        color: $text-1;
    }
}

body {
    @include p;
}
h1 {
    @include h1(true);
}
h2 {
    @include h2(true);
}
h3 {
    @include h3(true);
}
h4 {
    @include h4(true);
}
h5 {
    @include h5(true);
}
h6 {
    @include h6(true);
}
#{$p-els} {
    @include p(true);
    .p-sml &, &.p-sml {
        @include p-sml(true);
    }
}
#{$text-els} {
    em {
        font-style: normal;
        color: $text-2;
    }
}
a,
button {
    @include states;
}