@use 'dcode/sass-lib/sass/layouts.scss' as *;
@use 'dcode/sass-lib/sass/admin-features/helpers' as *;

@use "~/sass/config/palette.scss"as *;
@use "~/sass/config/variables.scss"as *;

@mixin box-shadow {
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}
@mixin box-shadow-hover {
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

@mixin aside-menu {
    padding-top: 30px;
    ul {
        @include reset-ul;
    }
    > ul > li {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        margin-bottom: 1.5rem;
        > button {
            @include reset-btn;
            display: block;
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 0.25rem;
            padding: 0.5rem 0.75rem;
            text-align: left;
            text-transform: uppercase;
        }
        a,
        button {
            color: $sidebar-menu-color;
        }
        > ul {
            background-color: transparent;
            margin-bottom: 1rem;
            opacity: 1;
            height: auto;
            > li {
                text-align: left;
            }
            a {
                border: 1px solid transparent;
                display: block;
                font-size: 14px;
                padding: .5rem .75rem;
                text-decoration: none;
                width: 100%;
                &.active,
                &:hover {
                    background-color: $white;
                    border: 1px solid $main-bg;
                    color: $top-menu-color;
                }
            }
        }
    }
}