$palette: (
    primary: #1779ba,
    secondary: #767676,
    tertiary: #3770EF,

    success: #3adb76,
    warning: #ffae00,
    danger: #cc4b37,
    whitest: #ffffff,
    light-gray: #e6e6e6,
    medium-gray: #cacaca,
    med-dark-gray: #aaa,
    dark-gray: #8a8a8a,
    blackest: #0a0a0a,
    off-white: #f8f8f8,

    accepted: #3adb76,
    sent: #3770EF,
    draft: #8a8a8a,
    declined: #D5D6D7,
);

$bg-1: map-get($palette, "whitest");
$bg-2: map-get($palette, "off-white");

$text-0: map-get($palette, "blackest");
$text-1: map-get($palette, "dark-grey");
$text-2: map-get($palette, "secondary");
$text-3: map-get($palette, "medium-gray");
$text-4: map-get($palette, "light-gray");
$text-5: map-get($palette, "off-white");
$text-6: map-get($palette, "whitest");

$text-faint: map-get($palette, "med-dark-gray"); 

$dcode-navy: #011132;
$dcode-d-blue: #212D62;
$dcode-turquoise: #085146;
$dcode-grey: #f4f4f4;

$text-1: #595959;

$top-menu-color: #3682FC;
$sidebar-bg: #F5F7F9;
$sidebar-menu-color: #969FA6;
$main-bg: #DBE2E8;

$separator: #EAEEF2;


